In [30]:
import matplotlib.pyplot as plt
import nltk
import numpy as np
import re 
import pandas as pd
import string
import seaborn as sns

In [31]:
data=pd.read_csv('Customer_Master_MERGED_2019_2021.csv')

In [32]:
data.head()

,Acronym,School,Status,Status2,Country,Region,UCC,Contact,Contact.1,Email,...,Agreement Sent,Agreement received,Debtor Created in FinanceOne? Debtor Code if completed,Invoice Requested? Invoice number if completed,Cost,GST,Service Request No,System Details,Accounts Released,Comments
0,SISO,(SISO) Suzhou Industrial Park Institute of Ser...,In Progress,Contract sent,China,3.0,Magdeburg,0,0,0,...,00-January-1900,00-January-1900,0,0,$0.00,0,0,0,0,0
1,ADAM,Adamson University,Completed,Systems Released,Philippines,3.0,Magdeburg,0,0,0,...,15-October-2019,23-November-2019,ADAUNI.01,ARI078280,"$5,000.00",F,Completed,6000014338,(M29/268),Yes
2,AMAES,AMA Computer University,Initial Stage,New Initial contact sent CC Crispian,Philippines,3.0,Magdeburg,0,0,0,...,00-January-1900,00-January-1900,0,0,$0.00,0,0,0,0,0
3,AUF,"Angeles University Foundation, College of Comp...",Completed,Systems Released,Philippines,3.0,Magdeburg,0,0,0,...,26-June-2019,26-July-2019,ANGUNI.01,ARI076960,"$5,000.00",F,Completed,6000013647,"(M29/201,202)",Yes
4,APC,Asia Pacific College,Completed,Systems Released,Philippines,3.0,Magdeburg,0,0,0,...,03-July-2019,31-July-2019,ASIPAC.06,ARI076963,"$7,500.00",F,Completed,6000013663,(m29/219)(I16/950)(R42/104)(H22/D00),Yes

In [33]:
num_rows = len(data)
print(num_rows)

386

In [34]:
data.shape

(386, 24)

In [35]:
temp_data=data

In [36]:
print(temp_data.loc[[192,6]])

    Acronym                             School     Status            Status2  \
192     USA      University of South Australia  Completed  Contract Received
6       AUT  Auckland University of Technology  Completed   Systems Released

         Country  Region        UCC Contact Contact.1 Email  ...  \
192    Australia     NaN  Magdeburg       0       NaN     0  ...
6    New Zealand     3.0  Magdeburg       0         0     0  ...

    Agreement Sent Agreement received  \
192          43969              44008
6     03-July-2019       05-July-2019

    Debtor Created in FinanceOne? Debtor Code if completed  \
192                                          UNISOU.14
6                                            AUCUNI.04

    Invoice Requested? Invoice number if completed       Cost GST  \
192                                      ARI079348       7500   C
6                                        ARI076787  $5,000.00   F

    Service Request No  System Details Accounts Released Comments
192                 NaN            NaN               NaN        0
6             Completed     6000013563         (M28/282)      Yes

[2 rows x 24 columns]

In [37]:
temp_data.loc[temp_data['Country'] == 'Australia', 'Region'] = 3

In [38]:
print(temp_data.loc[[192,6]])

    Acronym                             School     Status            Status2  \
192     USA      University of South Australia  Completed  Contract Received
6       AUT  Auckland University of Technology  Completed   Systems Released

         Country  Region        UCC Contact Contact.1 Email  ...  \
192    Australia     3.0  Magdeburg       0       NaN     0  ...
6    New Zealand     3.0  Magdeburg       0         0     0  ...

    Agreement Sent Agreement received  \
192          43969              44008
6     03-July-2019       05-July-2019

    Debtor Created in FinanceOne? Debtor Code if completed  \
192                                          UNISOU.14
6                                            AUCUNI.04

    Invoice Requested? Invoice number if completed       Cost GST  \
192                                      ARI079348       7500   C
6                                        ARI076787  $5,000.00   F

    Service Request No  System Details Accounts Released Comments
192                 NaN            NaN               NaN        0
6             Completed     6000013563         (M28/282)      Yes

[2 rows x 24 columns]